<md-dialog aria-label="Log In form">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Log In Form</h2>
                <md-button class="md-icon-button" ng-click="close()">
                    <md-icon md-svg-src="../assets/img/i-close.svg" aria-label="Close form"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="registration-form">
                <h4>
                    Hey there!
                </h4>
                <input ng-model="formData.username" class="registration-input" type="text" placeholder="Username"/>
                <input ng-model="formData.password" class="registration-input" type="password" placeholder="Password"/>
            </div>
        </md-dialog-content>
        <div class="md-actions" id="logIn-form-buttons" layout="row" layout-sm="column" layout-align="center center">
            <md-button ng-click="close()" class="md-primary">
                Close
            </md-button>
            <md-button ng-click="submit()" class="md-primary submit-button">
                Submit
            </md-button>
        </div>
    </form>
</md-dialog>