<md-dialog aria-label="Registration form">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Registration Form</h2>
                <md-button class="md-icon-button" ng-click="submit()">
                    <md-icon md-svg-src="../assets/img/i-close.svg" aria-label="Close form"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div>
                <p>
                    Hey there!
                </p>
                <input class="registration-input" type="text" placeholder="Name"/>
                <input class="registration-input" type="email" placeholder="e-mail"/>
                <input class="registration-input" type="password" placeholder="Password"/>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button ng-click="submit()" class="md-primary">
                Close
            </md-button>
        </div>
    </form>
</md-dialog>